---
import Check from "@/icons/Check.astro";
---

<section
  id="planes"
  class="min-h-screen max-w-[1200px] mx-auto w-full py-12 flex items-center justify-center"
>
  <div class="container px-4 md:px-6">
    <h2 class="text-center mx-auto text-3xl sm:text-5xl font-bold">
      Nuestros Planes, <span class="dark:text-green-500">Tu Transformación</span
      >
    </h2>
    <div class="grid grid-cols-1 gap-6 mt-12 md:grid-cols-3 md:gap-8">
      <!-- Rutinas Personalizadas  -->
      <div
        class="flex flex-col p-6 bg-white dark:bg-transparent shadow-lg rounded-lg dark:bg-zinc-850 justify-between border border-gray-300"
      >
        <div>
          <h3 class="text-2xl font-bold text-center mb-4 dark:text-yellow-500">
            Rutinas Personalizadas
          </h3>
          <ul class="mt-4 space-y-2">
            <li class="flex items-center">
              <Check />
              Entrenas sin acompañamiento para una libertad total
            </li>
            <li class="flex items-center">
              <Check />
              Decides cómo y cuándo entrenar, adaptándolo a tu manera
            </li>
            <li class="flex items-center">
              <Check />
              Recibes rutinas perfectamente ajustadas a medida
            </li>
            <li class="flex items-center">
              <Check />
              Avanzas a tu propio ritmo, según tus términos
            </li>
          </ul>
        </div>
        <div class="mt-6">
          <a
            href="https://wa.me/+56945371565?text=Hola,%20estoy%20interesado%20en%20las%20Rutinas%20Personalizadas."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center bg-green-500 hover:bg-green-600 text-white justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
          >
            ¡Me apunto!
          </a>
        </div>
      </div>

      <!-- Entrenamiento Personalizado Presencial -->
      <div
        class="relative flex flex-col p-6 bg-white dark:bg-transparent shadow-lg rounded-lg dark:bg-zinc-850 justify-between border border-purple-500"
      >
        <div
          class="px-3 py-1 text-sm text-white bg-gradient-to-r from-pink-500 to-purple-500 rounded-full inline-block absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
          Popular
        </div>
        <div>
          <h3 class="text-2xl font-bold text-center dark:text-yellow-500">
            Entrenamiento Personalizado Presencial
          </h3>

          <ul class="mt-4 space-y-2">
            <li class="flex items-center">
              <Check />
              Entrenamiento presencial y personalizado
            </li>
            <li class="flex items-center">
              <Check />
              Asesoramiento nutricional completo
            </li>
            <li class="flex items-center">
              <Check />
              Guía para la suplementación adecuada
            </li>
            <li class="flex items-center">
              <Check />
              Soporte y guía en cada sesión
            </li>
          </ul>
        </div>
        <div class="mt-6">
          <a
            href="https://wa.me/+56945371565?text=Hola,%20estoy%20interesado%20en%20el%20Entrenamiento%20Personalizado%20Presencial."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center text-white justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full bg-gradient-to-r from-pink-500 to-purple-500"
          >
            ¡Me apunto!
          </a>
        </div>
      </div>

      <!-- Asesoria Online Integral -->
      <div
        class="flex flex-col p-6 bg-white dark:bg-transparent shadow-lg rounded-lg dark:bg-zinc-850 justify-between border border-gray-300"
      >
        <div>
          <h3 class="text-2xl font-bold text-center dark:text-yellow-500">
            Asesoría Online Integral
          </h3>

          <ul class="mt-4 space-y-2">
            <li class="flex items-center">
              <Check />
              Orientación nutricional práctica
            </li>
            <li class="flex items-center">
              <Check />
              100% asesoría online, sin presencia en gimnasio
            </li>
            <li class="flex items-center">
              <Check />
              Apoyo y tips personalizados a distancia.
            </li>
            <li class="flex items-center">
              <Check />
              Flexibilidad y comodidad en tu entrenamiento
            </li>
            <li class="flex items-center">
              <Check />
              Acompañamiento virtual en tu progreso
            </li>
          </ul>
        </div>
        <div class="mt-6">
          <a
            href="https://wa.me/+56945371565?text=Hola,%20estoy%20interesado%20en%20la%20Asesoría%20Online%20Integral."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center bg-green-500 hover:bg-green-600 text-white justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
          >
            ¡Me apunto!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
