---
import Grafic from "@/icons/Grafic.astro";
import Instagram from "@/icons/Instagram.astro";
import Heart from "@/icons/Heart.astro";
import Muscle from "@/icons/Muscle.astro";
---

<section
  id="estadisticas"
  class="body-font max-w-[1200px] mx-auto container px-5 mt-24"
>
  <div class="flex flex-col text-center w-full mb-20">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4">
      Comprometidos con la <span class="text-green-500">Excelencia</span> y los <span
        class="text-green-500">Resultados</span
      >
    </h1>
  </div>
  <div class="flex flex-wrap -m-4 text-center">
    <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
      <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
        <Grafic class="text-green-500 w-12 h-12 mb-3 inline-block" />
        <h2 class="title-font font-medium text-3xl">3+</h2>
        <p class="leading-relaxed">años transformando Vidas</p>
      </div>
    </div>
    <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
      <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
        <Instagram class="text-green-500 w-12 h-12 mb-3 inline-block" />
        <h2 class="title-font font-medium text-3xl">1.500+</h2>
        <p class="leading-relaxed">seguidores en instagram</p>
      </div>
    </div>
    <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
      <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
        <Muscle class="text-green-500 w-12 h-12 mb-3 inline-block" />
        <h2 class="title-font font-medium text-3xl">300+</h2>
        <p class="leading-relaxed">programas creados</p>
      </div>
    </div>
    <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
      <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
        <Heart class="text-green-500 w-12 h-12 mb-3 inline-block" />
        <h2 class="title-font font-medium text-3xl">500+</h2>
        <p class="leading-relaxed">sesiones nutricionales</p>
      </div>
    </div>
  </div>
  <!-- <div class="mx-24 mb-2 border-b-2 border-green-500 mt-28"></div> -->
</section>
