---
import QuoteIcon from "@/icons/Quote.astro";
---

<section class="body-font max-w-[1200px] mx-auto">
  <h2
    class="text-3xl font-bold tracking-tighter text-center sm:text-5xl dark:text-yellow-500"
  >
    Personas Reales, Resultados Reales.
  </h2>
  <div class="px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <QuoteIcon class="text-green-500 w-12 h-12 mb-3 inline-block" />
          <p class="leading-relaxed">
            Inicié mi transformación en 2021 desde 97 kg, enfocándome en salud y
            estética. Bajo la guía de Sergio Vera desde el año pasado, adaptamos
            mis entrenamientos más allá de la pérdida de peso, alcanzando 71 kg,
            mejorando mi masa muscular y reduciendo grasa corporal. Aprendí la
            importancia de objetivos claros y cambios estéticos significativos
            sobre la simple pérdida de peso. Recomiendo ampliamente a Sergio por
            su profesionalismo y efectividad.
          </p>
          <span class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"
          ></span>
          <h2
            class="font-medium title-font tracking-wider text-sm dark:text-yellow-500"
          >
            DANIELA
          </h2>
          <p class="text-gray-600 dark:text-gray-300 uppercase">
            Ing. Agrícola
          </p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <QuoteIcon class="text-green-500 w-12 h-12 mb-3 inline-block" />
          <p class="leading-relaxed">
            Inicié mi cambio en 2020 con Sergio Vera, pesando casi 90 kilos y
            con el objetivo de perder peso. Con su apoyo, perdí kilos y tallas
            gracias a sus rutinas y consejos alimenticios. Más allá de lo
            físico, Sergio me enseñó a superar el temor a entrenar con pesas y a
            desafiar estereotipos. Gracias a su profesionalismo, ahora peso 60
            kilos y estoy muy contenta con los resultados alcanzados.
          </p>
          <span class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"
          ></span>
          <h2
            class="font-medium title-font tracking-wider text-sm dark:text-yellow-500"
          >
            YASMIN
          </h2>
          <p class="text-gray-600 dark:text-gray-300 uppercase">Estilista</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 p-4">
        <div class="h-full text-center">
          <QuoteIcon class="text-green-500 w-12 h-12 mb-3 inline-block" />
          <p class="leading-relaxed">
            Comencé en el gimnasio en 2023 y el asesoramiento de Sergio Vera ha
            sido un cambio radical para mí. Su guía personalizada no solo
            transformó mi físico, sino que elevó mi bienestar. Con su apoyo,
            superé expectativas, aprendiendo que con la dirección adecuada, todo
            es posible. La experiencia con Sergio ha marcado un antes y después
            en mi enfoque hacia el entrenamiento y la salud.
          </p>
          <span class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"
          ></span>
          <h2
            class="font-medium title-font tracking-wider text-sm dark:text-yellow-500"
          >
            VICENTE
          </h2>
          <p class="text-gray-600 dark:text-gray-300 uppercase">
            Ing. en Informática
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
